.textarea {
    width: 100%;
    padding: 19px;
    font-size: 16px;
    border: 1px solid #dddfe3;
    border-radius: 8px;
    background: #fff;
    outline: none;
    resize: none;
    max-height: 50px;
}

.textarea::placeholder {
    font-size: 16px;
    line-height: 140%;
    color: #b9bcc6;
    letter-spacing: 0.04em;
}
